<header class="header fixed-top">
    <div class="container-fluid">
        <div class="row align-items-center gx-8 gx-xs-16">
            <div class="col-auto">
                <div class="row align-items-center gx-8 gx-xs-12 gx-lg-20 gy-4">
                    <div class="col-auto">
                        <a class="header__logo" href="#">
                            <img src="images/logo.png" alt="Logo">
                        </a>
                    </div>
                    <div class="col-auto">
                        <h5 class="mb-0">Administrations</h5>
                    </div>
                </div>
            </div>
            <div class="search-input form-control searchMain visible" id="">
                <button type="submit"><i class="icomoon-search1"></i></button>
                <input type="text" placeholder="Search" class="search custom-input">
            </div>
            <div class="col">
                <div class="row align-items-center justify-content-end gx-4 gx-xs-16 gx-lg-40 gy-8">
                    <div class="col-auto d-none d-lg-block">
                        <div class="row gx-40 gy-4">
                            <div class="col-auto">
                                <a class="link-secondary text-sm" href="#">How-To Video</a>
                            </div>
                            <div class="col-auto">
                                <a class="link-secondary text-sm" href="#">System Checker</a>
                            </div>
                            <div class="col-auto">
                                <a class="link-secondary text-sm" href="#">Help</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <div class="dropdown">
                            <button class="dropdown-toggle btn-account" id="accountButton">
                                <span class="btn-account__photo">
                                    <img class="of-cover" src="images/avatar.svg" alt="Photo">
                                </span>
                                <span class="btn-account__text">ovsadmin</span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" id="accountDropdownMenu">
                                <li>
                                    <a class="dropdown-item" href="#">My Account</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Change Password</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger" href="#">
                                        <span class="icomoon-log-out"></span>
                                        <span>Log Out</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-auto d-md-none">
                        <button class="btn-action" type="button" id="openSearch">
                            <span class="icomoon-search"></span>
                        </button>
                    </div>
                    <div class="col-auto d-lg-none">
                        <button class="btn-action" type="button" aria-label="Toggle menu" data-bs-toggle="offcanvas" data-bs-target="#offcanvas-side-menu" aria-controls="offcanvas-side-menu">
                            <span class="hamburger-menu ">
                                <span class="hamburger-menu__wrap ">
                                    <span class="hamburger-menu__bars "></span>
                                </span>
                            </span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>