@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?p7153q');
    src: url('../fonts/icomoon.eot?p7153q#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?p7153q') format('truetype'), url('../fonts/icomoon.woff?p7153q') format('woff'), url('../fonts/icomoon.svg?p7153q#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icomoon-school:before {
    content: "\e907";
}

.icomoon-library:before {
    content: "\e908";
}

.icomoon-dice:before {
    content: "\e909";
}

.icomoon-chatbubbles:before {
    content: "\e90a";
}

.icomoon-toggle:before {
    content: "\e90b";
}

.icomoon-partners:before {
    content: "\e90c";
}

.icomoon-settings:before {
    content: "\e90d";
}

.icomoon-statistics:before {
    content: "\e90e";
}

.icomoon-cash:before {
    content: "\e90f";
}

.icomoon-bar-chart:before {
    content: "\e910";
}

.icomoon-ribbon:before {
    content: "\e911";
}

.icomoon-call:before {
    content: "\e912";
}

.icomoon-book:before {
    content: "\e913";
}

.icomoon-people:before {
    content: "\e914";
}

.icomoon-home:before {
    content: "\e915";
}

.icomoon-arrow-back-circle:before {
    content: "\e916";
}

.icomoon-log-out:before {
    content: "\e917";
}

.icomoon-caret-down:before {
    content: "\e918";
}

.icomoon-search1:before {
    content: "\e919";
}

.icomoon-caret-up:before {
    content: "\e91a";
}

.icomoon-caret-left:before {
    content: "\e91b";
}

.icomoon-caret-right:before {
    content: "\e91c";
}

.icomoon-x:before {
    content: "\e900";
}

.icomoon-fullscreen:before {
    content: "\e906";
}

.icomoon-keyboard_arrow_left:before {
    content: "\e902";
}

.icomoon-keyboard_arrow_down:before {
    content: "\e901";
}

.icomoon-folder:before {
    content: "\e903";
}

.icomoon-checkmark-1:before {
    content: "\e90df";
}

.icomoon--garbage:before {
    content: "\e904";
}

.icomoon-delete:before {
    content: "\e904";
}

.icomoon-remove:before {
    content: "\e904";
}

.icomoon-bin:before {
    content: "\e904";
}

.icomoon-uninstall:before {
    content: "\e904";
}

.icomoon-cancel-1:before {
    content: "\e90ff";
}

.icomoon-pencil:before {
    content: "\e905";
}

.icomoon-copy:before {
    content: "\e92c";
}

.icomoon-spinner11:before {
    content: "\e984";
}

.icomoon-search:before {
    content: "\e986";
}

.icomoon-enlarge-1:before {
    content: "\e98ff";
}

.icomoon-key:before {
    content: "\e98d";
}

.icomoon-equalizer:before {
    content: "\e992";
}

.icomoon-trashcan::before {
    content: '\e904';
}

.icomoon-briefcase:before {
    content: "\e9ae";
}

.icomoon-cloud-download:before {
    content: "\e9c2";
}

.icomoon-star-full-1:before {
    content: "\e9faf";
}

.icomoon-man:before {
    content: "\e9dc";
}

.icomoon-sad:before {
    content: "\e9e5";
}

.icomoon-plus-1:before {
    content: "\ea0ff";
}

.icomoon-minus:before {
    content: "\ea0b";
}

.icomoon-info-1:before {
    content: "\ea0cc";
}

.icomoon-flag:before {
    content: "\e91d";
}

.icomoon-graduation-cap:before {
    content: "\e91e";
}

.icomoon-mortar-board:before {
    content: "\e91e";
}

.icomoon-circle-with-plus-1:before {
    content: "\e901f";
}